nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    padding: 0 1rem;
    color: #fff;
    text-decoration: none;
  }

  .nav-left .nav-item{
    font-size: 1.5em;
    font-weight: bold;
}
  
  .nav-item:hover {
    color: #ccc;
  }
  